philips-sf {
  background: blue;
  color: white;
  display: block;

  &::before, ::before {
    display: inline;
    color: red;
    padding: 1px;
  }

  &::before {
    content: "[";

  }

  &::after {
    content: "]";
  }

}

