::ng-deep {
  span[sf-data] {
    background: blue;
    color: white;

    &::before {
      content: "[";
      color: red;
      padding: 1px;
    }

    &::after {
      content: "]";
      color: red;
      padding: 1px;
    }
  }
}
